---
import Layout from "../../layouts/Layout.astro";
import Pokemon from "../../components/PokemonImage.astro";
let data = await fetch(`https://pokeapi.co/api/v2/pokemon/?limit=30&offset=0`)
  .then((res) => res.json())
  .then((data) => data);
---

<Layout title="Welcome to Astro.">
  <main class="grid">
    <section
      class="grid gap-2 p-2 md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-3"
    >
      {
        data.results.map((pokemon) => (
          <article class="flex flex-col items-center border-2 p-2 rounded-md cursor-pointer">
            <div>
              <button>♥</button>
            </div>
            <div id={pokemon.name}>
              <Pokemon name={pokemon.name} />
              <h3>{pokemon.name}</h3>
            </div>
          </article>
        ))
      }
    </section>
    <nav>
      <button>atras</button> 
      <button>siguiente</button>
    </nav>
  </main>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const pokemon = document.querySelectorAll("div[id]");
    pokemon.forEach((pokemon) => {
      pokemon.addEventListener("click", () => {
        const name = pokemon.id;
        window.location.href = `/pokemon/${name}`;
      });
    });
  });
</script>
